/* Style TCSS for the main Renderman Denoising Application */
/* By Quazar */ 



/* Defining all the colors for the application stylesheet */
$primary: #FFB761;
$primary-darken-1: #E1A45B;
$primary-darken-2: #C39256;

$background: #1A1817;