


#horizontal_container_main {
	align: center middle;
	background: $background;
}


#verticalscroll_leftcolumn_main {
	background: $panel;

	max-width: 30%;
	margin-right: 5;
}


#verticalscroll_rightcolumn_main {
	background: $panel;

	max-width: 50%;
	margin-left: 10;
}

#listview_log {
	height: 90%;

}


#collapsible_input_output {
	max-height: 40%;
}


#directorytree_input, #directorytree_output {
	height: 90%;
	border: solid $primary;
}


#listview_log {
	border: solid $primary;
}